{% load static %}
<!-- <h4 class="text-xl font-bold text-red-700 mb-3">Cancelar Turno</h4> -->

<p class="text-white mb-6">¿Está seguro que desea Cancelar el turno?</p>

<form id="form-cancelar-turno" class="ajax-form" method="post" action="{% url 'eliminar_turno' turno.pk %}"
    data-contenedor="#tablaTurnos">
    {% csrf_token %}
    <div class="flex justify-around mt-5">
        <button type="button"
            class="bg-gray-600 hover:bg-gray-700 text-white font-bold px-4 py-2 rounded-lg transition duration-150 ease-in-out"
            onclick="cerrarModalAjax();">
            Cancelar
        </button>
        <button type="submit"
            class="bg-red-600 hover:bg-red-700 text-white font-bold px-4 py-2 rounded-lg transition duration-150 ease-in-out">
            Confirmar
        </button>
    </div>
</form>