{% load static %}
<div class="form-container">
    <form id="form-turno" class="ajax-form" action="{% if turno %}{% url 'editar_turno' turno.pk %}{% else %}{% url 'dar_turno' %}{% endif %}"  method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="p-2">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger small mt-1">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            <button type="submit" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">Guardar</button>
        </div>
    </form>
</div>
    <!-- <div class="max-w-3xl mx-auto bg-[#1A1A1A] text-gray-200 rounded-2xl p-8 shadow-lg">
        <h2 class="text-2xl font-semibold text-yellow-500 mb-6">Nuevo Turno</h2>

         <form method="post" class="space-y-6 relative">
            {% csrf_token %}

            <div>
                <label class="block mb-1 text-sm font-medium">Cliente</label>
                {{ form.cliente }}
            </div>

            <div>
                <label class="block mb-1 text-sm font-medium">Barbero</label>
                {{ form.empleado }}
            </div>

            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label class="block mb-1 text-sm font-medium">Fecha</label>
                    {{ form.fecha }}
                </div>
                <div>
                    <label class="block mb-1 text-sm font-medium">Hora</label>
                    {{ form.horario }}
                </div>
            </div>

            <div class="flex justify-end pt-6">
                <button type="submit" class="ml-3 px-4 py-2 bg-yellow-500 text-black rounded-lg hover:bg-yellow-400">
                    Guardar Turno
                </button>
            </div>
        </form>
    </div> -->
