{% load static %}
<div class="form-container">
    <form id="form-horario" class="ajax-form" 
        action="{% if horario %}{% url 'editar_horario' horario.pk %}{% else %}{% url 'formhora' %}{% endif %}" method="post" 
        novalidate>
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4"> 
            {% for field in form %}
            <div class="text-yellow-400">
                <label for="{{ field.id_for_label }}" class="block text-sm font-medium mb-1">{{ field.label }}</label>
                <div class="relative">
                    
                    {{ field }}

                    {% if field.name == 'hora_inicio' or field.name == 'hora_fin' %}
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-yellow-400">
                        <i class="fas fa-clock"></i>
                    </span>
                    {% endif %}
                </div>
                
                {% if field.errors %}
                <div class="text-red-500 mt-1 text-xs"> 
                    {% for error in field.errors %}{{ error }}{% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
        <div class="flex justify-around mt-6">
            <button type="button"
                class="bg-gray-600 hover:bg-gray-700 text-white font-bold px-4 py-2 rounded-lg transition duration-150 ease-in-out"
                onclick="cerrarModalAjax();">
                Cancelar
            </button>
            <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold px-6 py-2 rounded-lg transition duration-150 ease-in-out">
                Guardar
            </button>
        </div>
    </form>
</div>