{% load static %}
<style>
  label {
    color: white;
  }
  .inactivo {
    display: none;  /* Oculta las filas inactivas */
  }
</style>

<div class="card">
  <div class="p-6 text-white text-center">
    <h2 class="text-2xl font-bold text-yellow-400">Horarios</h2>
  </div>

  <div class="p-6 space-y-6">
    <div class="bg-zinc-800 backdrop-blur-sm rounded-xl p-5 shadow">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
        <div>
          <h2 class="text-xl font-bold flex items-center gap-2 text-white">
            <i class="fas fa-calendar-check"></i> Lista de Horarios
          </h2>
          <p class="text-white">Aquí puedes ver todos los Horarios de la Barberia</p>
        </div>
        <button data-url="{% url 'formhora' %}" data-titulo="Nuevo Horario" class="btn-ajax-form px-4 py-2 bg-yellow-500 hover:bg-blue-700 text-black font-medium rounded-lg transition">
          <i class="fas fa-plus mr-2"></i> Nuevo Horario
        </button>
        <button id="btnMostrarInactivos" class="px-4 py-2 bg-indigo-500 hover:bg-blue-700 text-black font-medium rounded-lg transition">
          Mostrar Inactivos
        </button>
      </div>
    </div>

    <div id="tablaHorarios" class="bg-zinc-800 backdrop-blur-sm rounded-xl p-5 shadow overflow-x-auto text-white" data-url="{% url 'tabla_horarios' %}">
      {% include 'horarios_tabla.html' %}
    </div>

  </div>
</div>


<script>
  // Delegación de botones Editar/Eliminar usando el modal global
  $('#tablaHorarios').on('click', '.btnEditar', function() {
    const id = $(this).closest('tr').data('pk');
    abrirModalAjax(`/horarios/editar/${id}/`, 'Editar Horario');
  });

  $('#tablaHorarios').on('click', '.btnEliminar ', function() {
    const id = $(this).closest('tr').data('pk');
    abrirModalAjax(`/horarios/eliminar/${id}/`, 'Eliminar Horario');
  });

  // Mostrar/Ocultar inactivos
  $(document).ready(function () {
    $('#btnMostrarInactivos').click(function() {
      $('.inactivo').toggle();
      if ($(".inactivo:visible").length > 0) {
          $(this).text("Ocultar Inactivos");
      } else {
          $(this).text("Mostrar Inactivos");
      }
    });
  });

</script>