{% load static %}
<style>
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
</style>

<div class="card">
  <div class="card-header">
    <h2 class="text-center">Turnos</h2>
  </div>
  <div class="card-body p-6">
    <div class="bg-white/30 backdrop-blur-md shadow-lg rounded-2xl p-4 mb-6">
      <h2 class="text-2xl font-bold flex items-center gap-2">
        <i class="fas fa-users"></i> Lista de Turnos
      </h2>
      <p>Aquí puedes ver todos los turnos de la Barbería</p>
      <div class="flex justify-between mt-4">        
        <button id="btnAgregarTurno" class="btn btn-primary me-2">Nuevo Turno</button>
      </div>
    </div>

    <div class="bg-white/30 backdrop-blur-md shadow-lg rounded-2xl p-4">
      <table id="listaturno" class="table table-hover display">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Cliente</th>
            <th>Barbero</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for t in turnos %}
            <tr data-pk="{{ t.pk }}">
                <td>{{ t.fecha }}</td>
                <td>{{ t.hora }}</td>
                <td>{{ t.cliente }}</td>
                <td>{{ t.empleado }}</td>
                <td>{{ t.estado }}</td>
                <td>
                    <!-- <button class="btn btn-sm btn-info"><i class="fas fa-eye"></i></button> -->
                    <button class="btnEditarTurno btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
                    <button class="btnEliminarTurno btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    if ( $.fn.DataTable.isDataTable('#listaturno') ) {
      $('#listaturno').DataTable().destroy();
    }

    $('#listaturno').DataTable({
        language: {
            //se pone en español crack
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
              dom: 'Bfrtip',
        buttons: [
            {// Botón de Copiar
                extend: 'copyHtml5',
                className: 'btn btn-primary'
            },
            {// Botón de Excel
                extend: 'excelHtml5',
                className: 'btn btn-success'
            },
            {// Botón de PDF
                extend: 'pdfHtml5',
                className: 'btn btn-danger'
            },
            {// Botón de Imprimir
                extend: 'print',
                className: 'btn btn-info'
            }
        ]
    });
});
    
    // $(document).ready(function() {
    //         $('#btnAgregarTurno').off('click').on('click', function() {
    //                 const url = "#";
    //                 bootbox.dialog({
    //                         title: 'Formulario',
    //                         message: "<iframe id='formIframe' src='" + url + "' scrolling='yes' frameborder='0' width='100%' height='500'></iframe>",
    //                         buttons: {
    //                                 cancel: {
    //                                         label: 'Cerrar',
    //                                         className: 'btn-secondary',
    //                                         callback: function () {
    //                                                 cargarContenido("{% url 'turnos' %}");
    //                                         }
    //                                 }
    //                         }
    //                 });
    //                 window.addEventListener('message', function(event) {
    //                         if (event.data && event.data.action === 'closeBootbox') {
    //                             bootbox.hideAll();
    //                             cargarContenido("{% url 'turnos' %}");
    //                         }},{ once: true });
    //                 });
    //                 });
    //         $(document).off('click').on('click','.btnEditarTurno', function() {
    //             const pk = $(this).closest('tr').data('pk');
    //             const url = '/turnos/editar/' + pk + '/';
    //             bootbox.dialog({
    //                 title: 'Formulario Editar',
    //                 message: "<iframe id='formIframe' src='" + url + "' scrolling='yes' frameborder='0' width='100%' height='500'></iframe>",
    //                 buttons: {
    //                     cancel: {
    //                         label: 'Cerrar',
    //                         className: 'btn-secondary',
    //                         callback: function () {
    //                             cargarContenido("{% url 'turnos' %}");
    //                         }
    //                     }
    //                 }
    //             });
    //             window.addEventListener('message', function(event) {
    //                 if (event.data && event.data.action === 'closeBootbox') {
    //                     bootbox.hideAll();
    //                     cargarContenido("{% url 'turnos' %}");
    //                 }},{ once: true });
    //             });
    //         $('#listaturnos').off('click').on('click','.btnEliminarTurno', function() {
    //             const pk = $(this).closest('tr').data('pk');
    //             const url = '/turnos/eliminar/' + pk + '/';
    //             bootbox.dialog({
    //                 title: 'Eliminar',
    //                 message: "<iframe id='formIframe' src='" + url + "' scrolling='yes' frameborder='0' width='100%' height='500'></iframe>",
    //                 buttons: {
    //                     cancel: {
    //                         label: 'Cerrar',
    //                         className: 'btn-secondary',
    //                         callback: function () {
    //                             cargarContenido("{% url 'turnos' %}");
    //                         }
    //                     }
    //                 }
    //             });
    //             window.addEventListener('message', function(event) {
    //                 if (event.data && event.data.action === 'closeBootbox') {
    //                     bootbox.hideAll();
    //                     cargarContenido("{% url 'turnos' %}");
    //                 }},{ once: true });
    //             });
</script>