{% load static %}
<style>
  label {
    color: white;
  }
  .inactivo {
  display: none;  /* Oculta las filas inactivas */}
</style>

<div class="card">
  <div class="p-6 text-white text-center">
      <h2 class="text-2xl font-bold text-yellow-400">Cajas</h2>
  </div>

  <div class="card grid grid-cols-1 md:grid-cols-3 gap-8 max-w-6xl mx-auto">
    <div class="bg-zinc-800 p-6 rounded-xl text-center shadow hover:scale-105 transition duration-300">
        <p class="font-semibold text-white">
          <i class="text-green-500 text-center fa-dollar-sign"></i>      
        </p>
        <p class="text-yellow-500 mt-4 font-bold">
          Ingresos Mensual
        </p>
    </div>
    <div class="bg-zinc-800 p-6 rounded-xl text-center shadow hover:scale-105 transition duration-300">
        <p class="font-semibold text-white">
          <i class="text-green-500 text-center fa-dollar-sign"></i>
        </p>
        <p class="text-yellow-500 mt-4 font-bold">
          Egresos Mensual
        </p>
    </div>
    <div class="bg-zinc-800 p-6 rounded-xl text-center shadow hover:scale-105 transition duration-300">
        <p class="font-semibold text-white">
          <i class="text-green-500 text-center fa-dollar-sign"></i>
        </p>
        <p class="text-yellow-500 mt-4 font-bold">
        </p>
    </div>

  </div>

  <div class="p-6 space-y-6">
    <div class="bg-zinc-800 backdrop-blur-sm rounded-xl p-5 shadow">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
        <div>
          <h2 class="text-xl font-bold flex items-center gap-2 text-white">
            <i class="fas fa-cash-register"></i> Lista de Cajas
          </h2>
          <p class="text-white">Aquí puedes ver todos las cajas de la Barberia</p>
        </div>
        <button id="btnAbrirCaja" class="px-4 py-2 bg-yellow-500 hover:bg-blue-700 text-black font-medium rounded-lg transition">
          <i class="fas fa-plus mr-2"></i> Abrir Caja
        </button>
      </div>
    </div>

    <div id="tablaCajas" class="bg-zinc-800 backdrop-blur-sm rounded-xl p-5 shadow overflow-x-auto" data-url="{% url 'tabla_cajas' %}">
      {% include 'cajas_tabla.html' %}
    </div>

  
  </div>
</div>


<script>
</script>