{% load static %}
<h2 class="text-xl font-bold text-yellow-400 mb-4">Cambiar Estado</h2>

<form id="form-estado-metodo" class="ajax-form" method="post" action="{% url 'estado_metodo' metodo.pk %}"
    data-contenedor="#tablaMetodos">
    {% csrf_token %}
    <div class="text-base text-white mb-6">
        {% if metodo.activo %}
        ¿Estás seguro que deseas <strong class="text-red-700">Desactivar</strong> este método de pago?
        {% else %}
        ¿Estás seguro que deseas <strong class="text-green-700">Activar</strong> este método de pago?
        {% endif %}
    </div>

    {# Botones de Acción #}
    <div class="flex justify-around gap-3">
        <button type="button"
            class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg transition duration-150 ease-in-out"
            onclick="cerrarModalAjax();">
            Cancelar
        </button>
        <button type="submit"
            class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-150 ease-in-out">
            Confirmar
        </button>
    </div>

</form>