{% load static %}
<div class="form-container">
    <form id="form-empleado" class="ajax-form" action="{% if empleado %}{% url 'editar_empleado' empleado.pk %}{% else %}{% url 'formemp' %}{% endif %}" method="post" novalidate>
        {% csrf_token %}
        <div class="{% if empleado %}gap-3 grid grid-cols-1 {% else %} grid grid-cols-1 md:grid-cols-2 gap-4 {% endif %}">

            {% for field in form %}
        
            {% if field.name == 'activo' %}
            <div class="flex items-center text-yellow-400 mt-3 ml-1">
                {{ field }}
                <label for="{{ field.id_for_label }}" class="ml-2 block text-sm font-medium">
                    {{ field.label }}
                </label>
                
                {% if field.errors %}
                <div class="text-red-500 mt-1 text-xs">
                    {% for error in field.errors %}{{ error }}{% endfor %}
                </div>
                {% endif %}
            </div>
            {% else %}
            
            <div class="text-yellow-400">
                <label for="{{ field.id_for_label }}" class="block text-sm font-medium mb-1">
                    {{ field.label }}
                </label>
                
                <div class="relative">
                    
                    {{ field }}
                    
                    {# Icono posicionado absolutamente dentro del input #}
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-yellow-400">
                        {% if field.name == 'username' %} <i class="fas fa-user"></i> 
                        {% elif field.name == 'password' %} <i class="fas fa-lock"></i> 
                        {% elif field.name == 'first_name' %} <i class="fas fa-file-signature"></i> 
                        {% elif field.name == 'last_name' %} <i class="fas fa-file-signature"></i> 
                        {% elif field.name == 'email' %} <i class="fas fa-envelope"></i> 
                        {% elif field.name == 'dni' %} <i class="fas fa-id-card"></i> 
                        {% elif field.name == 'telefono' %} <i class="fas fa-phone"></i> 
                        {% elif field.name == 'especialidad' %} <i class="fas fa-briefcase"></i> 
                        {% endif %}
                    </span>
                    
                </div>
                
                {% if field.errors %}
                <div class="text-red-500 mt-1 text-xs">
                    {% for error in field.errors %}{{ error }}{% endfor %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            
            {% endfor %}
            
        </div>
        <div class="flex justify-around mt-6">
            <button type="button" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-6 rounded-lg transition duration-150 ease-in-out " onclick="cerrarModalAjax();">
                Cancelar
            </button>
            <button type="submit" class="bg-green-500 hover:bg-green-600 text-black hover:text-white font-bold py-2 px-6 rounded-lg transition duration-150 ease-in-out">
                {% if empleado %}
                    Guardar Cambios
                {% else %}
                    Guardar
                {% endif %}
            </button>
        </div>
    </form>
</div>