{% load static %}
<div>
    <form id="form-eliminar-producto" class="ajax-form" method="post" action="{% url 'eliminar_producto' producto.pk %}" data-contenedor="#tablaProductos">
        {% csrf_token %}
        <p class="text-neutral-300 mb-3">¿Está seguro que desea dar de baja este producto <strong class="text-yellow-500">
            {{ producto.nombre}}
        </strong>?</p>
        {% csrf_token %}
        <div class="flex justify-around mt-8">
            <button type="button" class="bg-neutral-600 hover:bg-neutral-700 text-white font-bold py-2 px-6 rounded-lg transition duration-150 ease-in-out " onclick="cerrarModalAjax();">
                Cancelar
            </button>
            <button type="submit" class="bg-red-500 hover:bg-red-600 text-black hover:text-white font-bold py-2 px-6 rounded-lg transition duration-150 ease-in-out">
                Confirmar
            </button>
        </div>
    </form>
</div>
