{% load static %}

<div class="form-container">
    <form id="form-producto" class="ajax-form-prod" action="{% if producto %}{% url 'editar_producto' producto.pk %}{% else %}{% url 'formprod' %}{% endif %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            
            {% for field in form %}
            
                {% if field.name == 'imagen' %}
                <div class="text-yellow-400 {% if field.name == 'imagen' %}md:col-span-2{% endif %}">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium mb-1">{{ field.label }}</label>
                    {{ field }}
                    
                    {% if field.errors %}
                    <div class="text-red-500 mt-1 text-xs">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="text-yellow-400 {% if field.name == 'descripcion' %}md:col-span-2{% endif %}">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium mb-1">{{ field.label }}</label>
                    <div class="relative">
                        {{ field }}
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-yellow-400">
                            {% if field.name == 'nombre' %} <i class="fas fa-box"></i>
                            {% elif field.name == 'precio' %} <i class="fas fa-dollar-sign"></i>
                            {% elif field.name == 'stock_actual' %} <i class="fas fa-cubes"></i>
                            {% endif %}
                        </span>
                    </div>
                    {% if field.errors %}
                    <div class="text-red-500 mt-1 text-xs">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            
            {% endfor %}
            
        </div>
        <div class="flex justify-around mt-6">
            <button type="button" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-6 rounded-lg transition duration-150 ease-in-out " onclick="cerrarModalAjax();">
                Cancelar
            </button>
            <button type="submit" class="bg-green-500 hover:bg-green-600 text-black hover:text-white font-bold py-2 px-6 rounded-lg transition duration-150 ease-in-out">
                {% if producto %}
                    Guardar Cambios
                {% else %}
                    Guardar
                {% endif %}
            </button>
        </div>
    </form>
</div>
